<header class="desktop">
 <nav #toolbar id="toolbar">
  <section class="guitar-nav">
    <figure>
      <img routerLink="/forside" src="../../../assets/svg/logo.svg" alt="Logo" draggable="false">
    </figure>
    <ul>
      <li><a routerLink="/">Forside</a></li>
      <li><a routerLink="/vilkår">Salgs- og handelsbetingelser</a></li>
      <li *ngIf="!auth.online"><button class="call-to-action" routerLink="/login">Log ind</button></li>
      <li *ngIf="auth.online"><a routerLink="/ordrehistorik">Ordrehistorik</a></li>
      <li *ngIf="auth.online"><button class="call-to-action" (click)="auth.logout()">Log ud</button></li>
    </ul>
  </section>
  <section class="infos">
    <section class="contact">
      <article class="mail">
        <span class="material-icons">mail</span>
        <label>SALES@STRINGSONLINE.COM</label>
      </article>
      <article class="phone">
        <span class="material-icons">phone</span>
        <label>+45 98 12 22 68</label>
      </article>

      <span routerLink="/indkøbskurv" class="material-icons cart">shopping_cart <span *ngIf="auth.online" #quantity class="badge">{{items}}</span></span>
    </section>

    <form [formGroup]="search">
      <input id="keyword" formControlName="keyword" type="text" placeholder="Indtast søgeord">
      <button (click)="submit()" class="call-to-action"><i class="fas fa-arrow-right"></i></button>
    </form>


    </section>
  </nav>
</header>




<header class="mobile" id="side-header">
  <span (click)="menuOpen = !menuOpen; menu()" #icon class="material-icons icon">menu</span>
  <nav #sideToolbar id="side-toolbar">
    <ul>
      <li><a (click)="menuOpen = !menuOpen; menu()" routerLink="/">Forside</a></li>
      <li><a (click)="menuOpen = !menuOpen; menu()" routerLink="/vilkår">Salgs- og handelsbetingelser</a></li>
      <li *ngIf="!auth.online"><button class="call-to-action" (click)="menuOpen = !menuOpen; menu()"  routerLink="/login">Log ind</button></li>
      <li *ngIf="auth.online"><a (click)="menuOpen = !menuOpen; menu()" routerLink="/ordrehistorik">Ordrehistorik</a></li>
      <li *ngIf="auth.online"><button class="call-to-action" (click)="auth.logout();menuOpen = !menuOpen; menu()">Log ud</button></li>
    </ul>
  </nav>
</header>








