header.desktop {
    margin-bottom: 8rem;

    @media (max-width: 1115px) {
        display: none;
        
    }
}
header.mobile {
    span.icon {
        position: absolute;
        right: 5%;
        top: 1rem;
    }
    @media (min-width: 1115px) {
        display: none;
    }
}


header {
    padding: 2rem 0;

    nav#toolbar {
        width: 80%;
        height: 60px;
        margin: 0 auto;
        display: grid;
        color: #000;

        .guitar-nav {
            // display: inline-block;
            width: 68%;
            @media (max-width: 1620px) {
            // @media (max-width: 1000px) {
                // width: 100%;
            }
            min-height: 111px;
            margin-right: 1rem;
            figure {
                position: absolute;
                z-index: 5;
                
                img {
                    width: 325px;
                }
            }
        
            ul {
                position: absolute;
                top: 3.8rem;
                left: 15.6%;
                width: 50%;
                padding: .5rem;
                border: 2px solid #fff;
                border-radius: 5px;
                display: flex;
                justify-content: flex-end;
                flex-direction: row;
                gap: 3rem;
                @media (max-width: 1620px) {
                    width: 50%;
                }

                li:first-child {
                    @media (max-width: 1625px) {
                        display: none;
                    }
                }
        
            }
        }

        .infos {
            position: absolute;
            width: 30%;
            right: 3%;
            @media (max-width: 1550px) {
                // width: 100%;
                right: 10%;
            }

            .contact {
                display: flex;
                gap: 1rem;
                font-size: .75rem;

                article {
                    display: flex;
                    align-items: center;

                    label {
                        white-space: nowrap;
                        font-weight: 300;
                        padding-left: .25rem;
                    }
                }

            }
            form {
                display: flex;
                gap: 1rem;
                margin-top: .4rem;
                @media (max-width: 1550px) {
                    justify-content: flex-end;
                }
                input {
                    border-radius: var(--br);
                    padding: .8em;
                    width: calc(100% - 13rem);
                    border: 1px solid var(--border);
                    background-color: var(--filler);
                    color: var(--highlight);

                    @media (max-width: 1620px) {
                        width: calc(100% - 11rem);

                    }

                        &::placeholder {
                            color: var(--highlight);
                        }
                    }
                button {
                    border: none;
                    border-radius: var(--br);
                    width: 3.75rem;
                    svg {
                        color: #111;
                    }

                }
            }
            span.cart {
                position: relative;
                cursor: pointer;
                span.badge {
                    position: absolute;
                    top: -.5rem;
                    right: -.5rem;
                    background-color: #ff4747;
                    border-radius: 50%;
                    font-size: 0.7rem;
                    width: 1rem;
                    height: 1rem;
                    line-height: 1rem;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                }
            }
        }

    }

}

header.mobile {
    span {
        cursor: pointer;
        display: block;
        margin-right: auto;
        color:var(--highlight);
        transition: color 180ms ease-in-out;
        font-size: 2rem;
        &:hover {
            color:var(--border);
        }
    }
    #side-toolbar {
        user-select: none;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 6;
        top: 0;
        left: 0;
        // border-right: .5px solid var(--border);
        background-color: #111;
        opacity: .98; // Kan slåes fra, altså ikke nødvendig
        overflow-x: hidden;
        padding-top: 60px;
        transition: .5s;
    
    
        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0 2rem;
            // align-items: center;
    
            li {
    
                a {
                white-space: nowrap;
                padding: .25rem;
                text-decoration: none;
                font-size: 1rem;
                display: block;
                color:var(--highlight);
                transition: color 180ms ease-in-out;
    
                    &:hover {
                        color:var(--border);
                    }
                }
            }
        }
    }
}