.breadcrumb-container {
    display: flex;
    border-top: 1px solid #393939;
    border-bottom: 1px solid #393939;
    padding: .5rem 0;
    margin: 0 0 2rem;
    // width: 80%;
    .separation {
        color: white;
        margin: 0 .3em;
    }
    .breadcrumb-link-container {
    display: flex;
    }
    a {
        display: inline-flex;
        align-items: center;
        color: var(--highlight);
    }
    span {
        padding-right: .25rem;
        color: var(--highlight);
    }
    
}
