<breadcrumb [crumbs]="[{ place: 'Salgs- og handelsbetingelser', url: '/vilkår'}]"></breadcrumb>

<h2>Betaling</h2>
<p>Stringsonline modtager betaling med Dankort/VISA-Dankort, VISA, VISA Electron, Mastercard og JCB. Betaling
    vil først blive trukket på din konto, når varen afsendes.

    Alle beløb er i DKK. Danske kroner og er incl. moms.

    Stringsonline bruger en godkendt betalingsserver, der krypterer alle dine kortoplysninger med SSL (Secure
    Socket Layer) protokol. Det betyder, at man ikke kan aflæse dine informationer.</p>
<h2>Levering</h2>
<p>Stringsonline leverer på alle hverdage, med ordre indgået inden kl. 12.00</p>
<h2>Reklamationsret</h2>
<p>Der gives 2 års reklamationsret i henhold til købeloven. Vores reklamationsret gælder for fejl i materiale
    og/eller fabrikation.

    Reklamationen gælder ikke fejl eller skader begået ved forkert betjening af produktet / ydelsen.

    Stringsonline vil dække returneringsomkostninger i et rimeligt omfang.

    Ved returnering
    Rettes henvendelse til og reklamationer sendes til:

    Stringsonline
    ADRESSEVEJ 4
    9000 Aalborg

    Der modtages ikke pakker sendt på efterkrav.</p>
<h2>Refusion</h2>
<p>Hvis der er aftalt refusion, så bedes I sende jeres bankoplysninger, så vi kan overføre det aftalte beløb.
</p>
<h2>Fortrydelsesret</h2>
<p>Der gives 14 dages fuld returret på varer købt i vores Webshop.
    Perioden regnes fra den dag, hvor du modtager ordren.

    Returneringsomkostninger skal du selv afholde.

    Fortrydelse skal anmeldes til os senest 14 efter købet og fra fortrydelsen skal I senest 14 dage efter
    returnere forsendelsen.

    Varens stand, når du sender den retur
    Du hæfter kun for eventuel forringelse af varens værdi, som skyldes anden håndtering, end hvad der er
    nødvendigt for at fastslå varens art, egenskaber og den måde, den fungerer på. Med andre ord – du kan prøve
    varen på samme måde, som hvis du prøvede den i en fysisk butik.

    Hvis varen er prøvet udover, hvad der er beskrevet ovenfor, betragter vi den som brugt, hvilket betyder, at
    du ved fortrydelse af købet kun får en del eller intet af købsbeløbet retur, afhængig af varens
    handelsmæssige værdi.

    For at modtage hele købsbeløbet retur må du altså gøre det samme, som man kan i en fysisk butik. Du må
    afprøve varen, men ikke tage den i egentlig brug.</p>
<h2>Klagemuligheder – oversigt og links:</h2>
<p>Har du en klage over et produkt, købt i vores Webshop, kan der sendes en klage til:

    Center for Klageløsning
    Nævnenes Hus, Toldboden 2
    9000 Aalbrog

    Du kan klage til Center for Klageløsning via Klageportalen for Nævnenes Hus: https://kpo.naevneneshus.dk/

    Hvis du er forbruger med bopæl i et andet EU-land, kan du angive din klage i EU Kommissionens online
    klageplatform.

    Platformen findes her: http://ec.europa.eu/odr
    Angiver du en klage her, skal du oplyse vores E-mail adresse: info@domæne.dk</p>