
section.cart-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    article {
        display: grid;
        grid-template-columns: 1fr 30% 20% 1fr;
        grid-template-columns: repeat(4, 1fr);
        min-height: 13rem;
        figure {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #fff;
            @media (max-width: 700px) {
                border-left: 1px solid #292929;
            }

            img {
                position: absolute;
                top: 50%; 
                left: 50%;
                width: 80%;
                transform: translate(-50%, -50%);
            }
        }
        section.first {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            border-top: 1px solid #292929;
            border-bottom: 1px solid #292929;
            h3 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1.1rem;
                color: #ebebeb;
            }
        }
        section.second {
            display: flex;
            font-size: 1.1rem;
            padding: 1.6rem;
            border-top: 1px solid #292929;
            border-bottom: 1px solid #292929;
            align-items: center;
            label {
                margin-right: 1rem;
            }

            button {
                font-weight: 600;
                background-color: var(--highlight);
                color: var(--filler);
                cursor: pointer;
                border: none;
                 padding: .25rem 1.25rem;
                 min-height: 52px;
                transition: background 180ms ease-in-out;
                &:hover {
                    background: var(--border);
                }
            }
            button.plus {
                border-top-right-radius: var(--br);
                border-bottom-right-radius: var(--br);
            }
            button.minus {
                border-top-left-radius: var(--br);
                border-bottom-left-radius: var(--br);
            }
            p {
                padding: .78rem .8rem;
                font-weight: 600;
                background-color: var(--highlight);
                color: var(--filler);
                display: flex;
                align-items: center;
            }

        }
        section.third {
            display: inline-flex;
            gap: 2rem;
            border-right: 1px solid #292929;
            border-top: 1px solid #292929;
            border-bottom: 1px solid #292929;
            label {
                display: block;
                width: 100%;
                margin: 5rem 1rem;
                padding: .5em;
                border: 1px solid #393939;
                font-size: 1.2em;
                border-radius: 4px;
            }
            button {
                margin: 5rem 1rem;
                font-weight: 600;
                width: 50%;
                padding: 1em 0.5em;
                background-color: #D10061;
                border-radius: var(--br);
                border: none;
                transition: all 180ms ease-in-out;
                &:hover + span {
                    color: white;
                }
                &:hover {
                    background-color: hsl(332, 100%, 51%);
                    color: #ffF;
                }
            }
        }
    }
    .clear {
        font-weight: 600;
        margin-bottom: 1em;
        margin-top: .7rem;
        width: 100%;
        padding: 1em 0.5em;
        background-color: #D10061;
        border-radius: var(--br);
        border: none;
        transition: all 180ms ease-in-out;
        &:hover {
            background-color: hsl(332, 100%, 51%);
            color: #ffF;
        }
    }
    .kassen {
        font-weight: 600;
        color: #292929;
        font-size: 0.8rem;
        cursor: pointer;
        background: #00F9B6;
        border: none;
        border-radius: var(--br);
        padding: 1em 1.7em;
        transition: background 180ms ease-in-out;
        &:hover {
        background: #00c792;
        }
    }
    section.total {
        position: relative;
        .texts {
            display: grid;
            gap: 1rem;
            text-align: right;
            grid-template-columns: 90% 1fr;
        }
        a {
            position: absolute;
            right: 0;
        }
    }
}

