breadcrumb {
    width: 100%;
  }
  
article.hero {
    figure {
        display: grid;
        grid-template-columns: 1fr 30%;
        @media (max-width: 1854px) {
            grid-template-columns: 1fr;
        }
        img {
            width: 100%;
        }
        figcaption {
            background-color: #2C3737;
            padding: 1em;
            h2.title {
                font-size: 3rem;
                font-weight: 300;
                span {
                    font-weight: bold;
                }
            }
            p {
                font-size: 1.2em;
                font-weight: 100;
                
            }
            section {
                margin: 1em 0;
                border-top: 1px solid rgba(255, 255, 255, 0.29);
                border-bottom: 1px solid rgba(255, 255, 255, 0.29);
                font-size: 2.4em;
                line-height: 1.4em;
            }
            button {
                cursor: pointer;
                border: none;
                color: var(--border-color);
                background-color: var(--highlight);
                padding: .5rem 2rem;
                border-radius: 3.125rem;
                transition: background 180ms ease-in-out;
                &:hover {
                  background: #00c792;
                }
            }
        }
    }
}

section.favorites {

    h2 {
        margin: 2rem 0 1rem;
        color: var(--highlight);
    }
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        @media (max-width: 1000px) {
            grid-template-columns: 1fr;
        }

        article {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @media (max-width: 1620px) {
                grid-template-columns: 1fr;
                gap: 0;
            }
            figure {
                display: grid;
                justify-content: center;
                align-content: center;
                background: #fff;
                img {
                    padding: 1rem;
                    object-fit: contain;
                    width: 100%;
                    height: 275px;
                }
            }
            figcaption {
                border-top: 1px solid #2C3737;
                border-right: 1px solid #2C3737;
                border-bottom: 1px solid #2C3737;
                padding: 1rem;
                @media (max-width: 1620px) {
                    border-left: 1px solid #2C3737;
                    
                }
                p {
                    margin: 0 0 1rem;
                }
                div.price-button {
                    margin: 1rem 0 0;
                }

                div.price-button {
                    display: grid;
                    grid-template-columns: 60% 40%;
                    label {
                        border-top-left-radius: var(--br);
                        border-bottom-left-radius: var(--br);
                        border: 1px solid #292929;
                        padding: 1em 2em;
                    }
                    button {
                        padding: 1em 2em;

                        background-color: #D10061;
                        border-top-right-radius: var(--br);
                        border-bottom-right-radius: var(--br);
                        border: none;
                        transition: all 180ms ease-in-out;
                        white-space: nowrap;
                        &:hover {
                            background-color: hsl(332, 100%, 51%);
                            color: #292929;
                        }
                    }
                }

            }
        }
    }
}

.highlight {
    color: var(--highlight);
}