<!-- <breadcrumb *ngIf="product && seg !== 'søg'" [crumbs]="[{ place: 'produkter', url: '/'}, { place: title, url: '/produkter/' + title + '/' + type}]"></breadcrumb> -->
<!-- <breadcrumb *ngIf="product && seg !== 'søg'" [crumbs]="[{ place: 'produkter', url: '/'}, { place: title, url: '/produkter/' + title + '/' + type}]"></breadcrumb> -->
<breadcrumb *ngIf="products" [crumbs]="[{ place: 'produkter', url: '/'},{place: tid, url: '/produkter/' + tid + '/' + id}]"></breadcrumb>

<section *ngIf="products">
    <section class="sort-controls">
        <label for="producent" class="invisble">Producent</label>
        <select (change)="changeProducent($event)" name="producent" id="producent" *ngIf="http.brands$ | async as brands">
            <option hidden selected>Producent</option>
            <option value="null">Vis alle</option>
          <option *ngFor="let item of brands" [value]="item.title">{{item.title}}</option>
        </select>
        <label for="sort" class="invisble">Sorter efter..</label>
        <select (change)="onChange($event)" name="sort" id="sort">
          <option hidden selected>Sorter efter..</option>
          <option value="price1">Laveste til højeste pris</option>
          <option value="price2">Højeste til laveste pris</option>
          <option value="alfa1">A - Å</option>
          <option value="alfa2">Å - A</option>
        </select>
    </section>

    <card *ngFor="let item of products" [id]="item.id" [description]="item.description_short" [price]="item.price" [stock]="item.stock" [image]="item.image_fullpath" [name]="item.name" [url]="id"></card>
</section>
<h2 *ngIf="!products || products <= 0">Varen findes ikke</h2>
