$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: orange;

.product-details-container {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    gap: 1em;
    @media (max-width: 1115px) {
        grid-template-columns: 1fr;
        gap: 0;
        .product-details-images, .product-details-middle { 
            border-right: 1px solid #292929;
            border-left: 1px solid #292929;
        }
        .product-details-middle {
            padding: 2rem;
        }
    }
    .product-details-images, .product-brand-rating {
        figure {
            width: 100%;
            img {
                padding: 1rem;
                background: #fff;
                width: 100%;
            }
        }
      
    }
    
    .product-details-middle {
        
        p {
            margin-top: 1em;
        }
        rating {
            display: block;
            margin: 1rem 0;
        }
        h3 {
            margin: 2rem 0 1rem;
        }
    }
    .product-brand-rating {
        h3 {
            font-weight: 300;
            padding: 0.6em 0.5em;
            text-align: center;
            background-color: var(--filler);
            border: 1px solid var(--highlight);
            border-radius: var(--br);
            margin: 1rem 0;
        }
        section.cart {
            display: flex;
            flex-direction: row;
            margin-bottom: 1em;
            // input {

            // }
            button {
                width: 100%;
                padding: 1em .5em;
                background-color: #D10061;
                border-top-right-radius: var(--br);
                border-bottom-right-radius: var(--br);
                border: none;
                transition: all 180ms ease-in-out;
                &:hover {
                    // animation: textHover 180ms forwards ease-in-out;
                    background-color: hsl(332, 100%, 51%);
                    color: #ffF;
                }
            }
        }
        rating {
            color: #fff;
        }

        p.stock {
            margin: 1rem 0;
        }
        span {
            display: block;
            margin: 0 0 1rem;
            cursor: pointer;
            font-size: .8rem;
            color: #ef3333;
        }
    }
}