<section class="product-details-container" *ngIf="product">
    <article class="product-details-images">
        <figure>
            <img src="{{product.image.fullpath}}" alt="{{product.name}} image">
        </figure>
        <figure *ngFor="let item of product.gallery">
            <img src="{{item.fullpath}}" alt="{{product.name}} image">
        </figure>
    </article>
    <article class="product-details-midle" *ngIf="product">
        <h2>{{product.name}}</h2>
        <p>{{product.description_long}}</p>
    </article>
    <article class="product-brand-rating">
        <figure><img src="{{product.brand_image}}" alt="{{product.brand_image}}"></figure>
        <h3>DKK {{product.price}}</h3>
        <button (click)="addProduct(product.id)">Læg i kurv</button>
        <p>antal på lager</p>
        <section class="rating">
            <span class="star-cb-group">
                <input type="radio" id="rating-5" value="5" /><label for="rating-5">5</label>
                <input type="radio" id="rating-4" value="4" /><label for="rating-4">4</label>
                <input type="radio" id="rating-3" value="3" /><label for="rating-3">3</label>
                <input type="radio" id="rating-2" value="2" /><label for="rating-2">2</label>
                <input type="radio" id="rating-1" value="1" /><label for="rating-1">1</label>
    
            </span>
        </section>
        <span class="material-icons">star</span>
    </article>
</section>