<breadcrumb *ngIf="product && seg !== 'søg'" [crumbs]="[{ place: 'produkter', url: '/'}, { place: title, url: '/produkter/' + title + '/' + type},{place: product.name, url: '/produkt/' + title + '/' + type + '/' + product.id}]"></breadcrumb>
<breadcrumb *ngIf="product && seg === 'søg'" [crumbs]="[{ place: 'søg', url: '/søg'}]"></breadcrumb>

<section class="product-details-container" *ngIf="product">
    <article class="product-details-images">
        <figure>
            <img src="{{product.image.fullpath}}" alt="{{product.name}} image">
        </figure>
        <figure *ngFor="let item of product.gallery">
            <img src="{{item.fullpath}}" alt="{{product.name}} image">
        </figure>
    </article>
    <article class="product-details-middle" *ngIf="product">
        <h2>{{product.name}}</h2>
        <p>{{product.description_long}}</p>
        <h3>Gennemsnitsvurderingen af produktet</h3>
        <p>{{average}}</p>
        <rating *ngIf="average !== undefined" [score]="round(average)" [forDisplay]="true"></rating>
    </article>
    <article class="product-brand-rating">
        <figure><img src="{{product.brand_image}}" alt="{{product.brand_image}}"></figure>
        <h3>Pris: DKK {{toFixed(product.price)}}</h3>
        <section *ngIf="auth.online" class="cart">
            <input #quantity type="number" value="1" min="1" [max]="product.stock">
            <button (click)="addProduct(product.id, quantity.value)">Læg i kurv</button>
        </section>
        <p>{{score && auth.online ? 'Tak for din anmeldelse' : 'Giv os din anmeldelse'}}</p>
        <span *ngIf="score && auth.online" (click)="deleteRating()">Slet anmeldelsen</span>
        <rating *ngIf="auth.online" [maxScore]="5" [score]="score" [forDisplay]="false" (rateChanged)="onRateChange($event)"></rating>
        <p class="stock">{{+product.stock <= 0 ? 'Varen er ikke' : product.stock > 1 ? +product.stock -1 + '+' : +product.stock}} på lager</p>

    </article>
</section>