form.order {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
    .payment {
        .payment-wrapper {
            .payment-input {
                padding: 1em;
            }
            .payment-container {
                background-color: var(--filler);
                margin-top: 1em;
                border-radius: 4px;
                cursor: pointer;
                .payment-input-bank {
                    transition: 180ms ease-in-out;
                    padding: 0;
                    opacity: 0;
                    height: 0;
                    overflow: hidden;
                    transform: scale(.9);
                }
                .open {
                    padding: 1em;
                    opacity: 1;
                    height: auto;
                    overflow: unset;
                    transform: scale(1);
        
                }
            }
            
        }
    }

    section {
        .other {
            display: none;
            input, label {
                display: block;
                width: 100%;

            }
        }


        .input-container, .input-phone {
            label {
                position: relative;
                span {
                    transform: translateY(-50%);
                    top: 50%;
                    right: 1rem;
                    z-index: 1;
                    position: absolute;
                    font-size: 1rem;
                        
                        &.denied {
                            color: #ff4747 !important;
                        }
                        &.check {
                            animation: check 300ms ease-in-out forwards;
                            color: #47c160 !important;
                        }
                }
            }
        }

    }

    section {
        h2 {
            font-size: 1.2rem;
        }
        &:last-child {
            display: flex;
            flex-direction: column;
            button {
                border: none;
                margin-top: 1rem;
                border-radius: var(--br);
                background-color: var(--highlight);
                color: var(--dark-font);
                font-weight: bold;
                font-size: 1rem;
                padding: .8rem;
                width: 100%;
            }
        }
        div.input-phone {
            display: flex;
            flex-direction: column;
            &::after {
                position: relative;
                z-index: -1;
                transform: translateY(-10%);
                height: 100%;
                background: var(--border);
                color: var(--highlight);
                font-size: .7rem;
                padding: 2rem 1rem 1.5rem;
                font-weight: 100;
                border-bottom-left-radius: var(--br);
                border-bottom-right-radius: var(--br);
                content: 'Med dit telefonnummer kan vi kontakte dig i tilfælde af spørgsmål eller problemer. Hvis du oplyser dit mobilnummer kan vi også sende dig en forsendelsesbekræftelse via SMS.';

            }
        }
        div.inputs-container {
            display: flex;
            gap: 1rem;
        }
        div.input-container {
            display: flex;
            flex-direction: column;
            div.select-container {
                display: flex;
                gap: 1rem;
            }
        }
        div.input-bank {
            height: 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        div.radio-container {
            padding: 0.8rem;
            border-radius: var(--br);
            background-color: var(--filler);
            border: 1px solid var(--border);
            display: flex;
            gap: .5rem;
            align-items: center;
            label {
                font-size: .8rem;
            }
        }
    }
}

input[type=text], input[type=number], input[type=email] {
    display: block;
    width: 250px;
    border-radius: 4px;
    width: 100%;
    &::placeholder {
        opacity: .5;
    }
}
.otherShippingaddress {
    display: block;
    padding-top: 1em;
}
.phoneNumber {
    position: relative;
    .phoneInfo {
        position: absolute;
        z-index: -1;
        padding: 1em;
        top: 30px;
        border-radius: 0 0 4px 4px;
        background-color: #113B39;
        color: var(--highlight);
    }
}





summary {
    color: var(--highlight);
    user-select: none;
    padding-left: 1em;
    position: relative;
    &::-webkit-details-marker {
        position: absolute;
        // display: none;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}

#creditcard:checked + #vcc {
    display: block;
}

input[type=radio], input[type=checkbox] {
    margin-right: 1rem;
}

label {
    font-weight: 100;
    padding: 0.5rem 0;
    color: var(--highlight);
}
input, select, textarea {

    padding: 0.8em;
    border-radius: var(--br);
    border: 1px solid var(--border);
    background-color: var(--filler);
    color: var(--highlight);

    &::placeholder {
        color: var(--highlight);
    }
}

.help {
    animation: help 300ms ease-in-out forwards;

    color: #ff4747 !important;
    margin-top: .5rem;
}


@keyframes check {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(-50%);
    }
    25% {
        opacity: 1;
        transform: scale(1) rotate(10deg) translateY(-50%);
    }
    75% {
        opacity: 1;
        transform: scale(1) rotate(-10deg) translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0) translateY(-50%);
    }
}

@keyframes help{
    from {
        opacity: 0;
        transform: translateY(-1em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }  
}