form.order {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
    section {
        h2 {
            font-size: 1.2rem;
        }
        &:last-child {
            display: flex;
            flex-direction: column;
            button {
                font-weight: bold;
                font-size: 1rem;
                padding: 1rem;
                width: 100%;
            }
        }
        div.input-phone {
            // background-color: red;
            display: flex;
            flex-direction: column;
            // background: var(--filler);

            &::after {
                position: relative;
                z-index: -1;
                transform: translateY(-10%);
                height: 100%;
                background: var(--border);
                color: var(--highlight);
                font-size: .7rem;
                padding: 2rem 1rem 1.5rem;
                font-weight: 100;
                border-bottom-left-radius: var(--br);
                border-bottom-right-radius: var(--br);
                content: 'Med dit telefonnummer kan vi kontakte dig i tilfælde af spørgsmål eller problemer. Hvis du oplyser dit mobilnummer kan vi også sende dig en forsendelsesbekræftelse via SMS.';

            }
        }
        div.inputs-container {
            display: flex;
            gap: 1rem;
        }
        div.input-container {
            display: flex;
            flex-direction: column;
            div.select-container {
                display: flex;
                gap: 1rem;
            }
        }
        div.radio-container {
            padding: 0.8rem;
            border-radius: var(--br);
            background-color: var(--filler);
            border: 1px solid var(--border);
            display: flex;
            gap: .5rem;
            align-items: center;
            label {
                font-size: .8rem;
            }
        }
    }
}
section.payment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

summary {
    color: var(--highlight);
    user-select: none;
    padding-left: 1em;
    position: relative;
    &::-webkit-details-marker {
        position: absolute;
        // display: none;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}

#creditcard:checked + #vcc {
    display: block;
}



label {
    font-weight: 100;
    padding: 0.5rem 0;
    color: var(--highlight);
}
input, select, textarea {
    // padding: 0.5rem 0.4rem;
    // margin-right: 0.5rem;
    // border: #8c8c8c 1px solid;
    padding: 0.8em;
    border-radius: var(--br);
    border: 1px solid var(--border);
    background-color: var(--filler);
    color: var(--highlight);
}
