    h1 {
        text-align: center;
        margin: 1em;
    }

    form {
        width: 300px;

        
        label {
            display: block;
            margin: 1rem 0 .5rem;
            font-size: .875rem;
            
        }
        div {
            position: relative;
            input {
                border-radius: var(--br);
                padding: 0.8em;
                width: calc(100% - 13rem);
                border: 1px solid var(--border);
                background-color: var(--filler);
                color: var(--highlight);
                // padding: .5rem;
                width: 100%;
                &::placeholder {
                    color: var(--highlight);
                }
            }
            span {
                transform: translateY(-50%);
                top: 50%;
                right: 1rem;
                z-index: 1;
                position: absolute;
                font-size: 1rem;
                    
                    &.denied {
                        color: #c14747 !important;
                    }
                    &.check {
                        color: #47c160 !important;
                    }
            }
        }
        button {
            border: none;
            border-radius: var(--br);
            margin-top: 1rem;
            padding: .5rem;
            width: 100%;
            background-color: #47c160;
            color: #fff;
        }
    }

    .error {
        display: block;
        padding: 1rem;
        color: #c14747 !important;
        animation: fade 2000ms ease-in-out forwards;
    }


@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}