    h1 {
        text-align: center;
        margin: 1em;
    }

    form {
        margin: 1rem 10%;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        label {
            display: block;
            margin: 1rem 0 .5rem;
            font-size: .875rem;
        }
        div {
            position: relative;
            input {
                padding: .5rem;
                width: 100%;
            }
            span {
                transform: translateY(-50%);
                top: 50%;
                right: 1rem;
                z-index: 1;
                position: absolute;
                font-size: 1rem;
                    
                    &.denied {
                        color: #c14747 !important;
                    }
                    &.check {
                        color: #47c160 !important;
                    }
            }
        }
        button {
            border: none;
            border-radius: var(--br);
            margin-top: 1rem;
            padding: .5rem;
            width: 100%;
            background-color: #47c160;
            color: #fff;
        }
    }

    .error {
        display: block;
        padding: 1rem;
        color: #c14747 !important;
        animation: fade 2000ms ease-in-out forwards;
    }


@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}