main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    // min-height: 59.5vh;
    min-height: 75.5vh;
    @media (max-width: 1000px) {
        width: 90%;
    }
    @media (max-width: 1115px) {
        flex-direction: column;
    }
}