section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    article {
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        padding: 1rem;
        @media (max-width: 1115px) {
            grid-template-columns: 1fr;
        }
        p {
            border-radius: var(--br);
            border: 1px solid #3f3f3f;
            padding: 1rem;
            text-align: center;

            &:nth-child(2) {
                width: 110%;
                transform: translateX(-15px);
                border: none;
                border-top: 1px solid #3f3f3f;
                border-bottom: 1px solid #3f3f3f;
                border-radius: 0;
                position: relative;
                z-index: -1;
                @media (max-width: 1115px) {
                    width: 99%;
                    margin: 0 auto;
                    transform: translateX(0);

                    border-top: unset;
                    border-bottom: unset;
                    border-right: 1px solid #3f3f3f;
                    border-left: 1px solid #3f3f3f;
                }
            }
            &:nth-child(3) {
                border-color: #535353;
                .highlight {
                    margin-left: 2rem;
                    color: var(--highlight);
                }
            }

            &.oid {
                background-color: #232323;
            }

        }
    }
}