<article>
    
    
    <figure>
        <img draggable="false" [src]="image" [alt]="name">
    </figure>

    <header>
        <h3>{{ name }}</h3>
        <p>{{ description }}<a class="readmore" [hidden]="check" routerLink="/produkt/{{title}}/{{name}}/{{id}}">Læs mere</a></p>
        <p>{{ description }}<a class="readmore" [hidden]="!check" routerLink="/produkt/søg/{{id}}">Læs mere</a></p>
    </header>

    <section>
        <label>Pris: DKK {{ price }}</label>
        <button (click)="addProduct(id)">Læg i kurv</button>
        <p *ngIf="(stock > 0)">{{ stock }} på lager</p>
        <p *ngIf="(stock <= 0)">Varen er ikke på lager</p>
    </section>

</article>