<article>
    
    
    <figure>
        <img draggable="false" [src]="image" [alt]="name">
    </figure>

    <header>
        <h3>{{ name }}</h3>
        <p *ngIf="!check && !check2">{{ description }}<a class="readmore" routerLink="/produkt/{{title}}/{{url}}/{{id}}">Læs mere</a></p>
        <p *ngIf="check && !check2">{{ description }}<a class="readmore" routerLink="/produkt/søg/{{id}}">Læs mere</a></p>
        <p *ngIf="check2 && !check">{{ description }}<a class="readmore" routerLink="/produkt/brand/{{id}}">Læs mere</a></p>
    </header>

    <section>
        <label>Pris: DKK {{ toFixed(price) }}</label>
        <button *ngIf="auth.online" (click)="addProduct(id)">Læg i kurv</button>
        <p>{{+stock <= 0 ? 'Varen er ikke' : +stock > 1 ? +stock -1 + '+' : +stock}} på lager</p>
    </section>

</article>