figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    img {
        width: 20vw;
    }
    figcaption {
    
        h1, h2, p, span {
            color: var(--highlight);
        }
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 2rem;
            font-weight: 400;
        }
        p {
            font-size: .9rem;
            width: 50%;
        }
    }
}
