footer {
  margin-top: 4rem;
  background: #575757;
  height: 6.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  figure {
    align-self: center;
    img {
      @media (max-width: 1620px) {
        width: 70%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}
