// Global Styles and Imports
// Google Font CDN
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


ul {
  list-style: none;
}
