section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    section.sort-controls {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        gap: 2rem;
        select {
            min-width: 10rem;
            background-color: var(--highlight);
                color: var(--filler);
                cursor: pointer;
                border: none;
                 padding: .25rem ;
                //  padding: .25rem 1.25rem;
                //  min-height: 52px;
                //  padding: 1em 0.5em;
                transition: background 180ms ease-in-out;
                &:hover {
                    background: var(--highlight);
                }
        }
    }


    article {
        border: 1px solid #292929;
        display: grid;
        grid-template-columns: 1fr 60% 40%;
        gap: 2rem;
        @media (max-width: 1000px ) {
            grid-template-columns: 1fr;
            justify-items: center;
        }

        figure {
            position: relative;
            height: 280px;
            background: #fff;
            width: 300px;
            img {

                position: absolute;
                top: 50%;
                left: 50%;
                width: 80%;
                transform: translate(-50%, -50%);
                
            }
        }
        figcaption {
            padding: 2rem 0 6rem;
            h2 {
                margin-bottom: .5rem;
            }
            @media (max-width: 1000px ) {
                width: 80%;
            }
        }
    }
}