section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    article {
        border: 1px solid #292929;
        display: grid;
        grid-template-columns: 1fr 60% 40%;
        gap: 2rem;
        // padding: 2rem 0;
        // padding: 2rem 0;

        figure {
            position: relative;
            height: 280px;
            background: #fff;
            width: 300px;
            img {

                position: absolute;
                top: 50%;
                left: 50%;
                width: 80%;
                transform: translate(-50%, -50%);
            }
        }
        figcaption {
            padding: 2rem 0 6rem;
        }
    }
}